s3fs==2025.3.0
fsspec==2025.3.0
ipywidgets
kaggle
kagglehub
transformers
torch
unidecode
spacy
parquet
evaluate
rouge_score
pandas
ruff>=0.7.1
pre-commit
scikit-learn
matplotlib
fastAPI
uvicorn
jinja2
python-multipart
pytest
mlflow
